body {
  font-family: sans-serif;
  margin: 0px;
  background: url("../images/back.jpg");
  background-repeat: repeat;
  background-size: 2000px 800px; }

.boys {
  width: 300px;
  height: auto; }

.row {
  border: 0px dashed pink; }

.donut-button {
  width: 50%;
  height: 50%;
  padding: 10px;
  border: none;
  background: none; }

.ic-button {
  width: 50%;
  height: 50%;
  padding: 10px;
  border: none;
  background: none; }

.refresh-button {
  width: 50%;
  height: 50%;
  padding: 10px;
  border: none;
  background: none; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; }
