body {
	font-family: sans-serif;
	margin: 20px;
  background: url("../images/background.jpg");
	background-position: center;
background-repeat: no-repeat;
background-size: cover;

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
	//
  // .board {
  // 	background: yellow;
  // 	width: 300px;
  // 	height: 300px;
  //   margin-bottom: 20px;
  // }

  // .square {
  	// width: 100px;
  	// height: 100px;
  	// float: left;
	//
  //   &.red {
  //   	background: red;
  //   }
	//
  //   &.green {
  //   	background: green;
  //   }
  // }

  .boys {
    width: 1000px;
    height: auto;
  }
}

.donut-button {
	width: 100px;
	height: 100px;
	float: left;
}

.ic-button {
	width: 100px;
	height: 100px;
	float: left;
}

.refresh-button {
	width: 100px;
	height: 100px;
	float: left;
}

.btn-primary {
    color: #000;
    background-color: #f29faf;
    border-color: #533d25;
		margin-top:50px;
	 width:1024px;
	 height:65px;
	 font-size: 35px;
}
