body {
	font-family: sans-serif;
	margin: 0px;
  background: url("../images/background.jpg");
	background-size: 300px;
  width: 300px;
  height: 300px;
	background-position: center;
  background-size: cover;
}

// img {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   width: 40%;
// }
	//
  // .board {
  // 	background: yellow;
  // 	width: 300px;
  // 	height: 300px;
  //   margin-bottom: 20px;
  // }

  // .square {
  	// width: 100px;
  	// height: 100px;
  	// float: left;
	//
  //   &.red {
  //   	background: red;
  //   }
	//
  //   &.green {
  //   	background: green;
  //   }
  // }

  .boys {
    width: 1000px;
    height: auto;
  }
}

.donut-button {
	width: 800px;
	height: 800px;
	padding: 0;
  border: none;
  background: none;
}

.ic-button {
	width: 700px;
	height: 700px
	padding: 0;
	border: none;
	background: none;
}

.refresh-button {
	width: 800px;
	height: 800px;
	padding: 0;
	border: none;
	background: none;
}

.btn-primary {
    color: #000;
    background-color: #f29faf;
    border-color: #533d25;
		margin-top:50px;
	 width:1024px;
	 height:65px;
	 font-size: 35px;
}
