body {
  font-family: sans-serif;
  margin: 0px;
  background: url("../images/back.jpg");
  background-repeat: repeat;
  background-size: 2000px 800px; }

.boys {
  width: 300px;
  height: auto; }

.donut-button {
  width: 300px;
  height: 300px;
  padding: 00;
  border: none;
  background: none; }

.ic-button {
  width: 300px;
  height: 300px;
  padding: 0;
  border: none;
  background: none; }

.refresh-button {
  width: 300px;
  height: 300px;
  padding: 0;
  border: none;
  background: none; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; }
